html, body, #root {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.scene-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.player-section {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  height: 40vh;
  max-height: 400px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px 8px;
  box-shadow: 0 -4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.tracks-container {
  overflow-y: auto;
  flex-grow: 1;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  > * {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .player-section {
    max-width: 100%;
    border-radius: 8px;
    height: 50vh;
    max-height: unset;
    bottom: 10px;
  }

  .tracks-container {
    padding: 0.5rem;
  }
}